@font-face {
    font-family: 'Steinbeck Demo';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Steinbeck/fonts/SteinbeckDemo-Regular.eot');
    src: local('../fonts/Steinbeck/fonts/SteinbeckDemo Regular'), local('Montserrat-Regular'), 
        url('../fonts/Steinbeck/fonts/SteinbeckDemo-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Steinbeck/fonts/SteinbeckDemo-Regular.woff2') format('woff2'),
        url('../fonts/Steinbeck/fonts/SteinbeckDemo-Regular.woff') format('woff'),
        url('../fonts/Steinbeck/fonts/SteinbeckDemo-Regular.ttf') format('truetype'),
        url('../fonts/Steinbeck/fonts/SteinbeckDemo-Regular.svg#SteinbeckDemo-Regular') format('svg');
}

