@font-face {
    font-family: 'Union';
    src: url('../fonts/Union/fonts/Union-Regular.eot');
    src: url('../fonts/Union/fonts/Union-Regular.eot?#iefix') format('embedded-opentype'),
        //url("../fonts/Union/fonts/Union-Regular.otf") format("opentype"), /* Open Type Font */
        url('../fonts/Union/fonts/Union-Regular.woff2') format('woff2'),
        url('../fonts/Union/fonts/Union-Regular.woff') format('woff'),
        url('../fonts/Union/fonts/Union-Regular.ttf') format('truetype'),
        url('../fonts/Union/fonts/Union-Regular.svg#Union-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

