form(class="form-pos" action="#")
    input.btn(type="reset" value="Сбросить Ввод")
    input.btn(type="text" placeholder="Имя" autocomplete="nope") 
    input.btn(type="text" placeholder="Фамилия" autocomplete="nope")
    input.btn(type="email" placeholder="Email" autocomplete="nope")
    input.btn(type="password" placeholder="Пароль")
    //- input.btn(type="password" placeholder="Подтвердите Пароль")
    input.btn(type="date" placeholder="Дата Рождения")
    //- input.btn#phone(type="tel" placeholder="Номер Телефона")    
    input.btn.btn__gradient(onclick="testInfo()" type="submit" value="Отправить")
    //- input.btn.btn__gradient(onclick="testInfo(document.getElementById('phone'));" type="submit" value="Отправить")