//- action="http://foo.com"
form(class="form-pos" name="my" id="form"  method="get" onsubmit="return validate()" novalidate)
    input.btn(type="text" data-show-error-message="first-name" placeholder="Имя" autocomplete="nope") 
    input.btn(type="text" data-show-error-message="second-name" placeholder="Фамилия" autocomplete="nope")
    input.btn(type="email" data-show-error-message="email" placeholder="Email" autocomplete="nope")
    input.btn(type="password" data-show-error-message="first-password" placeholder="Пароль")
    input.btn(type="password" data-show-error-message="second-password" placeholder="Подтвердите Пароль")
    input.btn(type="text" data-show-error-message="date" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="Дата Рождения 02-12-2012")
    input.btn.btn__gradient(type="submit" value="Отправить")
    //- <div class="btn" 
    //- .btn
    //- npm run build
    //- input.btn(type="reset" value="Сбросить Ввод")
    //- input.btn#phone(type="tel" placeholder="Номер Телефона")    
    //- onclick="testInfo()"
    //- input.btn.btn__gradient(onclick="testInfo(document.getElementById('phone'));" type="submit" value="Отправить")