//- action="http://foo.com"
form(class="form-pos" name="my-form" method="get" onsubmit="return validate()" novalidate)
    input.btn(type="text" name="my-name" data-show-error-message="first-name" placeholder="Имя" autocomplete="nope") 
    input.btn(type="text" name="my-surname" data-show-error-message="second-name" placeholder="Фамилия" autocomplete="nope")
    input.btn(type="email" name="my-email" data-show-error-message="email" placeholder="Email" autocomplete="nope")
    input.btn(type="password" name="my-password" data-show-error-message="first-password" placeholder="Пароль")
    input.btn(type="password" data-show-error-message="second-password" placeholder="Подтвердите Пароль")
    input.btn(type="text" name="my-date" data-show-error-message="date" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="Дата Рождения 02-12-2012")
    input.btn.btn__gradient(type="submit" value="Отправить")