extends ../layout/main

block head
  script
    include ../includes/modules/form-registration.header.js

block content  
  section
    .container
      include ../includes/modules/form-registration      

block script
  script(type='text/javascript').