@font-face {
    font-family: 'Gramatika';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Gramatika/fonts/GramatikaDemo-Regular.eot'); /* IE9 Compat Modes */
    src: local('../fonts/Gramatika/fonts/GramatikaDemo Regular'), local('GramatikaDemo-Regular'), 
    url('../fonts/Gramatika/fonts/GramatikaDemo-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Gramatika/fonts/GramatikaDemo-Regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/Gramatika/fonts/GramatikaDemo-Regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/Gramatika/fonts/GramatikaDemo-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/Gramatika/fonts/GramatikaDemo-Regular.svg#GramatikaDemo-Regular') format('svg'); /* Legacy iOS */
}

