include ../utils/mixins
block variables

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title #{title}
    meta(name="description", content= description)
    meta(content="width=device-width, initial-scale=1" name="viewport")
    block head

  body(class=pageClass)
    .wrapper
      #app
        .content-wrapper
          block content
        //- include ../includes/modules/header
        //- include ../includes/modules/footer

    block script
